h2 {
    color:navy;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0px 2px 2px grey;
}

p {
    color:black;
    font-weight: lighter;
    text-align: center;
}

.Navbar {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color: skyblue;
    width: 20em;
    height: 9em;
    border:  3px solid navy;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1% 0% 1% 0%;
    box-shadow: 5px 5px 10px 3px grey;
}

.home {
    background-color: skyblue;
    width: 40em;
    border:  3px solid black;
    margin-left: 25%;
}

.BlogDetails {
    background-color: skyblue;
    width: 30em;
    border:  3px solid navy ;
    margin-left: 62%;
    margin-top: -14.5%;
}

.Sidebar {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color: skyblue;
    width: 20em;
    height: 9em;
    border:  3px solid navy ;
    margin-left: 32%;
    margin-top: -13%;
    padding: 1% 0% 1% 0%;
}

.categories {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color: navy;
    width: 20em;
    border:  3px solid skyblue ;
    margin-left: -50%;
    margin-top: 20%;
}

.tags {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color: navy;
    width: 20em;
    border:  3px solid skyblue;
    margin-left: 55%;
    margin-top: -38.8%;
}